# batch
mediapipe==0.10.21
opencv-python==4.11.0.86
numpy==1.26.4
# numpy==2.0.2 # wont work
xgboost==2.1.4
hyperopt==0.2.7
matplotlib==3.10.0
# praat-parselmouth==0.4.5

# train
torch==2.5.1
scikit-learn==1.6.1
pandas==2.2.3
av==14.2.0

# other?
tqdm==4.67.1

# sound
librosa==0.10.2.post1

# stt and tts
deepgram-sdk==3.7.7
pyaudio==0.2.14

# llm
openai==1.65.2

# flask
Flask==3.0.3
