torch==2.4.1
nltk==3.8.1
datasets==2.19.1
pandas==2.2.3
transformers==4.40.2
beautifulsoup4==4.12.3
sentencepiece==0.2.0
seqeval==1.2.2
numpy==1.25.2
scikit-learn==1.5.2

requests==2.32.3

# flask
Flask==3.0.3
