torch==2.4.1
nltk==3.8.1
datasets==2.19.1
pandas==2.2.3
transformers==4.40.2
beautifulsoup4==4.12.3
sentencepiece==0.2.0
seqeval==1.2.2
numpy==1.25.2
scikit-learn==1.5.2

requests==2.32.3
psutil==7.0.0
gdown==5.2.0

# stt and tts
deepgram-sdk==3.7.7
pyaudio==0.2.14

# llm
openai==1.65.2

# flask
Flask==3.0.3
